/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
   @font-face {
    font-family: MYRIADPRO-COND; /* Гарнитура шрифта */
    src: url(fonts/MYRIADPRO-COND.OTF); /* Путь к файлу со шрифтом */
    src: url(fonts/MYRIADPRO-BOLD.OTF)
   }
/* --------------- /reset.css --------------- */
.wrapper-content{
	max-width: 1200px;
	margin: 0 auto;
}

.header-top{
	height: 90px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	
}
.header_nav{
	display: flex;
}
.header_nav li{
	margin-right: 60px;
	list-style: none;
}
.header_nav li:last-child{
	margin-right: 0;
}
.header_nav a{
	text-decoration: none;
	color: #252525;
	font-family: MYRIADPRO-COND; 
	font-size: 1em;
	
}
.header_nav a:hover{
	border-bottom: 4px solid rgb( 0, 48, 255 );
	padding-bottom: 15px;

}
.block1 {
	background: url(img/bg_block1.png) no-repeat center;
	background-size: cover;
  opacity: 0.729;

}
.wrapper-items{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.wrapper-items a:hover{
	background-color: #F2EFF9;;
}
.block1 h1{
	font-size: 5em;
	font-family: MYRIADPRO-BOLD;
	color: #fff;
	padding-bottom: 40px;
}
.wrapper-items a{
	padding: 15px 30px;
	color: #1e1e1e;
	background-color: #fff;
  text-decoration: none;
  box-shadow: 3px 3px  rgb( 0, 48, 255 );
}
.About{
	display: flex;
	justify-content: space-between;
	padding: 150px 0;
}
.about_img {
	width: 100%;
	max-width: 600px;
	margin-right: 30px;
} 
.about_img img{
	width: 100%;
  height: auto;
	box-shadow: 9px 9px rgb( 179, 39, 141 );
}
.about_items{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  justify-content: center;
}
.about_items a:hover{
	background-color: #2515DD;;
}
.items_h2{
  font-size: 40px;
  font-family: "MyriadPro";
  color: rgb( 30, 30, 30 );
  font-weight: bold;
  text-align: left;
  -moz-transform: matrix( 1.00033463808973, 0, 0, 1, 0, 0);
  -webkit-transform: matrix( 1.00033463808973, 0, 0, 1, 0, 0);
  margin-bottom: 20px;
}
.about_items p{

	font-size: 1em;
  font-family: "Myriad Pro";
  color: rgb( 54, 54, 54 );
  text-align: left;
  -moz-transform: matrix( 1.00033463808973, 0, 0, 1, 0, 0);
  -webkit-transform: matrix( 1.00033463808973, 0, 0, 1, 0, 0);
  margin-bottom: 25px;
}
.about_items a{
	text-decoration: none;
	padding: 15px 30px;
	color: #fff;
	background-color: rgb( 0, 48, 255 ); 
	box-shadow: 3px 3px rgb( 1, 25, 126 );
	margin-top: 35px;
}
.portfolio_content{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portfolio_content span{
	width: 55%;
	margin-bottom: 60px;
  font-size: 1em;
  font-family: "Myriad Pro";
  color: rgb( 86, 86, 86 );
  text-align: center;
}
.portfolio_items{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.items{
	width: 100%;
	max-width: 570px;
	max-height: 280px;
	margin-bottom: 50px;
}
.items img{
	width: 100%;
  height: 100%;
  object-fit: cover;
  
 }

footer{
  background-color: rgb( 0, 4, 21 );

}
.footer_content{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 300px;
}
.ft{
	display: flex;
	flex-direction: column;
	font-size: 0.875em;
	font-family: "Open Sans";
  color: rgb( 255, 255, 255 );
  line-height: 1.6;
  text-align: left;
  -moz-transform: matrix( 0.99698720568005, 0, 0, 0.99506601770351, 0, 0);
  -webkit-transform: matrix( 0.99698720568005, 0, 0, 0.99506601770351, 0, 0);
}
.copy{
	display: flex;
	justify-content: center;
	color: #818181;
	padding-bottom: 35px;
}
.Contact{
	width: 17%;
}

.Contact span{
	margin: 10px;
}
.fa {
	padding-right: 15px;
}
.line:before{ 
	content: " ";
  background-color: rgb( 57, 57, 57 );
	width: 1px;
  height: 167px;
	float: left;

}

